.box {
  width: 100px;
  height: 100px;
  background-color: red;
  animation: rotate 2s infinite;
  border-radius: 100px;
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 595px;
  margin-top: 440px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}